{% extends 'base.html.twig' %}

{% block title %}Registration
{% endblock %}

{% block body %}
<div class="row bg-dark d-flex">
<div class="registration-height col justify-content-center m-5 ">
	<h1 class="text-center m-5">Registration</h1>
	{% for user, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ user }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	<div class="d-flex justify-content-center">
	{{ form_start(registrationForm) }}
	<div class="col-6 d-flex flex-column m-5 fs-2 test-size">
	{{ form_row(registrationForm.email) }}
	</div>
	<div class="col-6 d-flex flex-column m-5 fs-2 test-size">
	{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
	</div>
<div class="container w-25 d-flex align-item-center flex-column bg-dark mb-5">
	<button type="submit" class="btn fs-2 test-size text-white d-flex justify-align-center">Register</button>
</div>
	{{ form_end(registrationForm) }}
</div>
</div>
</div>
{% endblock %}
