{{ form_start(form, {'attr': {'class': 'd-flex flex-column '}}) }}
{{ form_row(form.name, {'attr': {'class': 'd-flex flex-column mb-3'}}) }}
{{ form_row(form.city, {'attr': {'class': 'd-flex flex-column mb-3'}}) }}
{{ form_row(form.postalCode, {'attr': {'class': 'd-flex flex-column mb-3'}}) }}
{{ form_widget(form) }}

<button class="mt-2 ms-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
