{% extends 'base.html.twig' %}

{% block title %}Community index{% endblock %}

{% block body %}
    <h1>Community index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>PostalCode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for community in communities %}
            <tr>
                <td>{{ community.id }}</td>
                <td>{{ community.name }}</td>
                <td>{{ community.city }}</td>
                <td>{{ community.postalCode }}</td>
                <td>
                    <a href="{{ path('app_community_show', {'id': community.id}) }}">show</a>
                    <a href="{{ path('app_community_edit', {'id': community.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_community_new') }}">Create new</a>
{% endblock %}
