<nav class="navbar d-flex justify-content-around bg-light">
	<div class="container ms-5">
		<a class="col d-flex justify-content-end me-5" href="{{ path('app_home') }}">
			<img src="{{ asset('build/images/autonoom-logo.png') }}" alt="Autonoom-logo" width="442" height="136">
		</a>
	</div>
	<div class="col d-flex justify-content-end me-2">
		<div class="d-flex flex-column justify-content-end">
			<a class="d-flex ms-2" href="{{ path('app_home') }}">
				<img src="{{ asset('build/images/person-fill.516b8bd0.svg') }}" alt="Autonoom-logo" width="80" height="80">
			</a>
			{% if app.user %}
				<div class="d-flex fs-3 me-2">
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% else %}
				<div class="d-flex fs-3 me-2">
					<a href="{{ path('app_login') }}">Login</a>
				</div>
			{% endif %}
		</div>
	</div>
</nav>
